:root{
    /*text*/
    --lingthen: 100;
    --medium: 500;
    --bold: 700;

    /*Color*/
    --pink: #ecb3fd8a;
    --techs: #36945da1;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    min-height: 100dvh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    overflow-x: hidden; /*Evita el desbordamiento horizontal*/
    font-size: 1.6rem;
    line-height: 1.5;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
}

.title{
    font-size: 5rem;
    font-weight: var(--medium);
    letter-spacing: 2rem;
}

.profession{
    display: flex;
    align-items: center;
    background-color: var(--pink);
    padding-left: 2rem;
    font-size: 2.5rem;
}

.text{
    font-size: 1.8rem;
    font-weight: var(--lingthen + 100);
}
.skills_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 1rem 2rem;
    .skill{
        border: none;
        border-radius: 5px;
        height: 150px;
        align-content: center;
        cursor: pointer;
        filter: blur(3px);
        transition: .5s ease-out;
    }
    .skill:hover{
        filter: blur(0);
        background-color: var(--pink);
    }
}

.techs{
    display: flex;
    align-items:center;
    column-gap: 2rem;
    margin-top: 1.5rem;
    .techs_content{
        font-size: 5.5rem;
        padding: 0;
        margin: 0;
        font-weight: var(--bold);
        color: var(--techs);
    }   
}
