* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100dvh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1rem 0;
    background-color: #ebebebe8;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    h1{
        color: #feaa3f;
        font-weight: lighter;
        font-size: 3rem;
    }
    h2{
        font-weight: lighter;
    }
}

main{
    width: 100%;
    margin-top: 2rem;
    .container_btn{
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 1px solid #d3d3d3c2;
        padding: 1rem 0;
        .btn{
            background-color: #feaa3f;
            padding: .5rem 1rem;
            border: none;
            border-radius: 5px;
        }
        .text_btn{
            margin-top: 1rem;
        }
    }
    .container{
        padding: 0 10%;
        margin-top: 1rem;
    }
}