* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100dvh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,h2,h3,h4{
    text-wrap: balance;
}

p{
    text-wrap: pretty;
}


ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

li{
    list-style: none;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding: 0.5rem 0;
    margin: 0.15rem;
}

.wrapper{
    margin: 2% 15%;
}

.title{
    text-align: center;
    margin: 1rem 0;
}

.subtitle{
    text-align: center;
    font-weight: lighter;
    text-decoration: underline;
}

.credits{
    text-align: center;
    font-weight: lighter;
    text-decoration: underline;
}

.form_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 1.5rem;
    margin-top: 1.5rem;
    #input_numbers{
        width: 40%;
        padding: .5rem .5rem;
        border: 3px solid rgba(0,0,0,0);
        box-sizing: border-box;
        background-color: #bbbbbb;
    }
    #input_numbers:focus{
        border: 3px solid #34db74;
        outline: none;
    }
    button{
        background-color: rgb(67, 175, 109) ;
        border: none;
        padding: .7rem 1rem;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
}

.alerta{
    color: #b93737;
    justify-content: center;
    font-weight: bold;
}