:root{
    /*Colors*/
    --title: #fff;
    --buttons: #715bf1;

    /*Effects*/
    --hover: #5d09e4;

    /*Text*/
    --bold: bold;
    --light: 100;
    --big: 3rem;
    --medium: 2rem;
    --small: 1rem;
}

* {
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    box-sizing: border-box;
}

body{
    min-height: 100dvh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden; /*Evita el desbordamiento horizontal*/
}

button{
    cursor: pointer;
}

header{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(61, 154, 226, 0.19)), linear-gradient(rgba(61, 154, 226, 0.19)), url("./images/globe-2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    .div_hero{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title{
            color: var(--title);
            font-weight: var(--bold);
            font-size: var(--big);
            letter-spacing: 10px;
        }
        .stadistics{
            margin: .5rem 0 1rem 0;
            .text{
                color: var(--title);
                font-weight: var(--bold);
            }
        }
    }
}

.formulario{
    .buttons{
        margin: 1rem 0;
        button{
            background-color: var(--buttons);
            color: var(--title);
            font-weight: var(--bold);
            padding: .5rem .7rem;
            border-radius: 5px;
            transition: all .5s;
        }
        button:hover{
            background-color: var(--hover);
        }
    }
    .inputs{
        margin: .7rem 0;
        display: flex;
        align-items: center;
        input{
            width: 100%;
            border-radius: 50px;
            padding: .5rem;
        }
        input:focus{
            border: .5px solid var(--buttons);
            background-color:#F0F8FF;
        }
        i{
            margin-left: 10px;
            font-size: 1.5rem;
            color: var(--title);
        }
    }
}

main{
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    .cards{
        width: 100%;
        max-width: 1200px; 
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 150px;
        gap: 1rem 2rem;
        .card{
            background-image: linear-gradient(rgba(4, 42, 71, 0.11)), linear-gradient(rgba(12, 33, 49, 0.363)), url('./images/map_image.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            align-content: center;
            font-weight: var(--bold);
            color: var(--title);
            padding: 1rem;
        }
    }
}